@use 'sass:color';

@use '@smui/common/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@smui/common/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #000,
  $error: color-palette.$red-700
);

:root {
  --app-background: #{theme.$background};
  --app-on-background: #{theme.$on-surface};
  --app-surface: #{theme.$surface};
  --app-on-surface: #{theme.$on-surface};
  --app-muted: rgba(255, 255, 255, 0.7);
  --app-error: #{theme.$error};
  --app-border: rgba(255, 255, 255, 0.2);
  --app-input-bg: #{color.adjust(color-palette.$grey-800, $blue: +2)};
}

html,
body {
  background-color: var(--app-background);
  color: var(--app-on-background);
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
